<% content_for(:title, @title) %>
<% content_for(:body_class, @title&.parameterize) %>

<% content_for :sidebar do %>
  <ul>
    <li><%= @title %></li>
  </ul>
<% end %>

Welcome <%= current_user&.email %> !
