#flash-wrapper {
  position: fixed;
  top: 50px;
  width: 100%;
  text-align: center;

  p {
    margin: 0;
    padding: 0.5rem;
  }

  .alert {
    background-color: rgba(255,0,0,0.8);
    color: #861339;
  }
}
