header {
  background-color: black;
  color: white;
  display: flex;
  height: 50px;

  a {
    align-self: center;
  }

  img {
    max-height: 30px;
    margin: 0.2rem 1rem 0;
  }

  nav {
    display: flex;

    a {
      color: white;
      margin: 0 0.2rem;

      &:hover {
        color: #91e374;
      }
    }
  }
}
